VITE_SUPABASE_URL=https://fatelqnysqgisbjgqgzl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhdGVscW55c3FnaXNiamdxZ3psIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwODI0NTIsImV4cCI6MjA5ODY1ODQ1Mn0.OoHGomZlfR2JZfCepApwPUuMRu37dxP2-dWCnWh8J3Y
